/* regole generali */
.row{
  text-align: center;
}

img {
  height: 200px;
}

.row:first-child{
  margin-top: 100px;
}

.row:nth-child(2):not(.row.first){
  margin-top: 20px;
}

.row:nth-child(2) *:not(.row.first *){
  padding: 10px;
}

#steps, #why{
  background-color: lightgrey;
  width: 100%;
}


/* regole terza sezione WHY */
#why .row{
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why h3, #why span{
  margin: 10px 0;
  display: block;
}
